<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @await Component.InvokeAsync("TeamPageHeader", Model)
    <div>
        This is OverView
    </div>
</body>
</html>

