<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (CurrentUser.Instance == null)
    {
        <div class="text-center">
            <div class="row">
                <h3>Welcome to Fantasy</h3>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary row mb-2">Sign in</button>
                <button type="submit" class="btn btn-primary row">I need to register</button>
            </div>
        </div>
    }
    else
    {
        <div class="text-center mb-4">
            <div class="mb-3">
                <h4>@CurrentUser.Instance.username</h4>
            </div>
            <div class="row">
                <div class="col">
                    <h5>35</h5>
                    <h6>Average</h6>
                </div>
                <div class="col">
                    <h5>55</h5>
                    <h6>Points</h6>
                </div>
                <div class="col">
                    <h5>105</h5>
                    <h6>Highest</h6>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <a class="btn btn-primary" href="https://localhost:7274/Fantasy/PickTeam">Pick Team</a>
            </div>
            <div class="col">
                <a class="btn btn-primary">Transfers</a>
            </div>
        </div>
    }
</body>
</html>
