@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>League table</title>

</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>League_code</th>
            <th>Fantasy Team</th>
        </tr>

        <tr>
            <th>Sample name</th>
            <th>12345</th>
            <th>Sample team</th>
        </tr>

        <tr>
            <th>Sample name</th>
            <th>54321</th>
            <th>Sample team</th>
        </tr>
    </table>

</body>
</html>
