@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p>This is the homepage</p>
    <p>Up coming matches</p>

    <div>--Sample data---</div>
    <table>
        <tr>
            <th>Date/time</th>
            <th>Team 1</th>
            <th>Team 2</th>
        </tr>

        <tr>
            <th>November 2, 2023</th>
            <th>Arsenal</th>
            <th>Aston Vila</th>
        </tr>

        <tr>
            <th>November 14, 2023</th>
            <th>Bournemouth</th>
            <th>Brentford</th>
        </tr>
    </table>

</body>
</html>
